; Tell pnpm to use the same version of Node.js for everyone.
use-node-version=18.20.3

; Since we migrated from `yarn` to `pnpm`, we have a lot of cases where
; our code is using so-called phantom dependencies.
;
; You can read about phantom dependencies here:
; https://rushjs.io/pages/advanced/phantom_deps
;
; By default, pnpm sandboxes each module in a way that prevents the use of phantom dependencies.
; Naturally, this breaks a lot of our code.
;
; `shamefully-hoist=true` lets us ignore the problem for now:
; https://pnpm.io/npmrc#shamefully-hoist
;
; When we want to tackle the problem properly, we can start by first
; identifing all of the phantom dependencies in our code.
; We can then list them all using the `public-hoist-pattern` config param:
; https://pnpm.io/npmrc#public-hoist-pattern
;
; This will let us set shamefully-hoist back to its default of `false`,
; and prevent us from introducing any *more* phantom dependencies in the future!
;
; The next step after this will be to fix all of the phantom dependencies.
; We can do this by declaring each one of them inside of the `package.json` files
; for the apps and packages which are using them.
;
; Once that's done, we can delete this comment!
shamefully-hoist=true
