# for dev only, used to unlock the wallet without typing the password
# PASSWORD=MyL33TP@55w0rd

# for dev only, used to pre-fill mnemonic on 'add account' selection screen
# TEST_MNEMONIC=blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg

# for dev only, Coingecko api settings
# # with a paid api key, use url https://pro-api.coingecko.com 
# COINGECKO_API_URL=https://api.coingecko.com
# # with a paid api key, use header name x-cg-pro-api-key
# COINGECKO_API_KEY_NAME=x-cg-demo-api-key
# COINGECKO_API_KEY_VALUE=xxxxxxxxxxxxxxxxxx

# Sentry settings, required for canary and prod builds only
# SENTRY_DSN=
# SENTRY_AUTH_TOKEN=

# Posthog auth token, required for canary and prod builds only (unless developing analytics features)
# POSTHOG_AUTH_TOKEN=

