# for dev only, used to unlock the wallet without typing the password
# PASSWORD=MyL33TP@55w0rd

# for dev only, used to pre-fill mnemonic on 'add account' selection screen
# TEST_MNEMONIC=blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg blarg

# for dev only, Coingecko api settings
# # with a paid api key, use url https://pro-api.coingecko.com
# COINGECKO_API_URL=https://api.coingecko.com
# # with a paid api key, use header name x-cg-pro-api-key
# COINGECKO_API_KEY_NAME=x-cg-demo-api-key
# COINGECKO_API_KEY_VALUE=xxxxxxxxxxxxxxxxxx

# External dev setup for tx analysis
# BLOWFISH_BASE_PATH=https://api.blowfish.xyz
# BLOWFISH_API_KEY=<YOUR_OWN_API_KEY>

# Talisman core dev team setup for tx analysis
# BLOWFISH_API_KEY=<PASSWORD_FOR_DEVMODE>
# BLOWFISH_QA_API_KEY=<PASSWORD_FOR_QA_BUILDS> # optional : only used for canary, ci & qa builds

# Sentry settings, required for canary and prod builds only
# SENTRY_AUTH_TOKEN=
# SENTRY_DSN=
# SENTRYCLI_USE_LOCAL=1

# Posthog auth token, required for canary and prod builds only (unless developing analytics features)
# POSTHOG_AUTH_TOKEN=

# Prod/canary only
# SIMPLE_LOCALIZE_API_KEY=
# SIMPLE_LOCALIZE_PROJECT_TOKEN=

# Prod/canary only
# API_KEY_ONFINALITY=
# COINGECKO_API_URL=
