@tailwind base;
@tailwind components;
@tailwind utilities;

/* Talisman specific defaults */
@layer base {
  html {
    font-size: 10px;
    @apply leading-base;
  }

  input::placeholder {
    @apply text-current opacity-30;
    /* color:
    currentColor; opacity: 0.3;
    */
  }
}

/* Talisman components rules */
/* Put here classes that are to be used everywhere (card, btn, badge..) */
/* Access to the theme is provided by theme() function if needed */
@layer components {
  /* Example
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
  */
}

/* Talisman utilities */
@layer utilities {
  .spin {
    animation: spin linear 3s infinite;
  }
}
