@import "talisman-ui/styles.css";

@layer base {
  pre,
  input,
  textarea {
    @apply text-body-secondary bg-field resize-none rounded-sm p-4;
  }
  pre {
    @apply max-w-full overflow-auto;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #213547;
  }
}

html {
  overflow-y: auto;
}
