@tailwind base;
@tailwind components;
@tailwind utilities;

/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  html {
    /* this defines the root font size, on which 'rem' units are based */
    font-size: 10px;
    @apply min-h-screen;
  }

  body {
    @apply leading-base text-body bg-black-primary font-sans text-base antialiased;
  }

  /* hides the content of the page while fonts are preloading (using webfontloader) */
  #root.wf-loading {
    @apply hidden;
  }

  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-md;
  }

  p {
    @apply leading-paragraph;
  }

  svg {
    @apply h-[1em] w-[1em];
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-body-disabled;
  }

  /* hides password reveal in Edge */
  input[type="password"]::-ms-reveal {
    display: none;
  }

  /* popup borders */
  .popup #root {
    @apply border-grey-750 box-border border;
  }

  /* number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* hide dcent iframe */
  #dcent-connect {
    display: none;
  }

  /* Would be great to remove this at some point */
  *:not(.allow-focus):focus {
    outline: none;
  }
}

/* The components layer is for class-based styles that you want to be able to override with utilities. */
/* Access to the (tailwind) theme is provided by theme() function if needed */
@layer components {
  input[type="checkbox"].form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6667 6.5L8.25001 12.9167L5.33334 10' stroke='%23D5FF5C' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }
  input[type="checkbox"].form-checkbox:checked:disabled {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6667 6.5L8.25001 12.9167L5.33334 10' stroke='%235A5A5A' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }

  /* we want focus state only for keyboard nav, so we disable :focus and use only :focus-visible */
  input[type="checkbox"].form-checkbox:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

/* The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    display: none; /* chrome, safari, opera */
  }
  .no-scrollbar {
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollable::-webkit-scrollbar {
    background-color: transparent;
  }
  .scrollable::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px currentColor;
    border: solid 3px transparent;
    border-radius: 25px;
    cursor: pointer;
  }
  .scrollable::-webkit-scrollbar-corner {
    background: transparent;
  }
  .scrollable::-webkit-resizer {
    appearance: none;
    display: none;
  }
  .scrollable {
    resize: none;
    scrollbar-color: currentColor transparent;
  }

  .scrollable-500::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px theme(colors.grey.500);
  }
  .scrollable-500 {
    scrollbar-color: theme(colors.grey.500) transparent;
  }

  .scrollable-600::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px theme(colors.grey.600);
  }
  .scrollable-600 {
    scrollbar-color: theme(colors.grey.600) transparent;
  }

  .scrollable-700::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px theme(colors.grey.700);
  }
  .scrollable-700 {
    scrollbar-color: theme(colors.grey.700) transparent;
  }

  .scrollable-800::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px theme(colors.grey.800);
  }
  .scrollable-800 {
    scrollbar-color: theme(colors.grey.800) transparent;
  }

  /*****************************************************************************
   *                                Balances
   ****************************************************************************/
  .balance-revealable {
    @apply rounded-xs relative cursor-pointer overflow-hidden text-transparent;
  }

  .balance-revealable.balance-reveal {
    @apply overflow-visible rounded-none text-inherit;
  }

  .balance-revealable::after {
    @apply rounded-xs absolute left-0 top-0 h-full w-full overflow-hidden opacity-[15%];
    content: "";
    /* ./blur.svg */
    background-image: url("data:image/svg+xml;base64,IDxzdmcgaGVpZ2h0PSIxMDAiIHdpZHRoPSIxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGRlZnM+CiAgICA8ZmlsdGVyIGlkPSJmMSIgeD0iMCIgeT0iMCI+CiAgICAgIDxmZUdhdXNzaWFuQmx1ciBpbj0iU291cmNlR3JhcGhpYyIgc3RkRGV2aWF0aW9uPSIxNSIgLz4KICAgIDwvZmlsdGVyPgogIDwvZGVmcz4KICA8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgc3Ryb2tlLXdpZHRoPSIzIiAKICBmaWxsPSJ3aGl0ZSIgZmlsdGVyPSJ1cmwoI2YxKSIgLz4KPC9zdmc+IA==");
  }

  .balance-revealable.balance-reveal::after {
    @apply hidden;
  }
}
