@tailwind base;
@tailwind components;
@tailwind utilities;

/* Talisman specific defaults */
@layer base {
  html {
    font-size: 10px;
    @apply leading-base text-body bg-black-primary;
  }

  body {
    @apply text-base;
  }

  input::placeholder {
    @apply text-current opacity-30;
  }

  /* number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Talisman components rules */
/* Put here classes that are to be used everywhere (card, btn, badge..) */
/* Access to the theme is provided by theme() function if needed */
@layer components {
  input[type="checkbox"].form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6667 6.5L8.25001 12.9167L5.33334 10' stroke='%23D5FF5C' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }
  input[type="checkbox"].form-checkbox:checked:disabled {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6667 6.5L8.25001 12.9167L5.33334 10' stroke='%235A5A5A' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }

  /* we want focus state only for keyboard nav, so we disable :focus and use only :focus-visible */
  input[type="checkbox"].form-checkbox:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

/* Talisman utilities */
@layer utilities {
  /* .spin {
    animation: spin linear 3s infinite;
  } */
}
