@font-face {
  font-family: "Surt";
  font-style: light;
  font-weight: 300;
  font-display: auto;
  src: url("./Surt-Regular.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Surt";
  font-style: bold;
  font-weight: 800;
  font-display: auto;
  src: url("./Surt-SemiBold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "SurtExpanded";
  font-style: bold;
  font-weight: 800;
  font-display: auto;
  src: url("./Surt-SemiBoldExp.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "WhyteInktrapMedium";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("./Whyte-Inktrap-Medium.woff2") format("woff2");
  font-display: fallback;
}
